* {
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-color: #fbfbfb;
}

.back-img {
    /* background-image: linear-gradient(180deg, #9D0E0E00 0%, #4F0707 100%), url(../Images/shutterstock_348320018.png); */
    /* background-image: linear-gradient(to-bottom, rgba(157, -14, 14, 0), #4F0707), url(../Images/shutterstock_348320018.png); */
    background-image: url(../Images/shutterstock_348320018.png);
    height: 480px;
}